<form method="POST" action="{% url 'create_student' %}">
    {% csrf_token %}
    {{ form.name.value }}  <!-- forms.as_p gives us the fields in paragraphs, by default, it is forms.as_table.
        While using the <table></table> tag gives the form fields in tabular form, forms.as_ul give use each field 
        as a bullet points.-->

    {% for field in formset %}
        <div class="fieldwrapper">
            {{ field }}
        </div>
    {% endfor %}
    <input type="submit" value="SUBMIT">
</form>
